# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries_missing = salaries.isna()
salaries_missing.sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

Department_employees = salaries.pivot_table(values=['Name'], 
                     index=['Department'], 
                     #columns=['Department'], 
                     aggfunc={'Name': lambda x: len(x.unique())},
                     fill_value=0)

Department_employees.sort_values("Name", ascending = False, axis = 0).head(3)

                Name
Department
POLICE         13353
FIRE            4631
STREETS & SAN   2193

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [91]:
# Your code here:

salary_only = salaries[salaries['Salary or Hourly'] == 'Salary']
salary_only ["Salary or Hourly"].value_counts() # to check if indeed only rows with salsry values ar selected

Salary    25161
Name: Salary or Hourly, dtype: int64

In [28]:
hourly_population = salary_only["Hourly Rate"]
hourly_population.describe()

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

In [86]:
'''
TEST ASSUMPTIONS
H0: μ = 30 
H1: μ ≠ 30 --> Two-sided Alternative Hypothesis because of the 'two sided confidence interval'

TEST STATISTICS 
z test: z = x(mean sample) - μ / (σ/ sqrt(n)) 

TEST SIGNIFICANCE | ONFIDENCE INTERVAL 
α = 0.05 --> beacuse 'we neet to perform the hypothesis test for a 95%'' 

PREFORMIG A HYPOTHESIS TEST 
If the P chance is smaller then 0.05, 
in means actualy that the chanche that sample is different is as random chance is so litle 
is so litle, we can reject the fact that it is a change, so there should be a reason for it 
Se we can reject teh Ho hypothesis 

source: https://towardsdatascience.com/hypothesis-testing-in-machine-learning-using-python-a0dc89e169ce

'''
import numpy as np
from statsmodels.stats import weightstats as stests

mean = np.mean(hourly_population) # == hourly_population.describe()[1]  
stdev = np.std(hourly_population) # == hourly_population.describe()[2] 
z_value = (mean - h0_value)/ (stdev / np.sqrt(len(hourly_population))) # Z-manual

ztest ,pval = stests.ztest(hourly_population, x2=None, value=30)# Z-test itself 

print("z-manual = ", z_value)
print("z-test = ", ztest, "\npval= ", pval)

if pval<0.05:
    print("\nReject null hypothesis")
else:
    print("\nAccept null hypothesis")

z-manual =  20.621091109215907
z-test =  20.6198057854942
pval=  1.8228873859286195e-94

Reject null hypothesis

In [85]:
''' In the case of a t test, if you do not have the whole population, it would be like this'''

#t_value = (mean(of sample) - h0_value)/ (stdev(of sample)/ np.sqrt(sample_size))

from scipy.stats import ttest_1samp 

sample_size = 100 # at least it has to be 30, because the whole population is 8000,
hoursample = hourly_population.sample(100)
h0_value = 30

ttest_1samp(hoursample, h0_value)

print("z_value", z_value, "\npval",ttest_1samp(hoursample, 30).pvalue )

if pval<0.05:
    print("\nReject null hypothesis")
else:
    print("\nAccept null hypothesis")

z_value 20.621091109215907
pval 0.11103048325696166

Reject null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [159]:
# Your code here:

salary_only = salaries[salaries['Salary or Hourly'] == 'Salary']
salary_only_police =  salary_only[salary_only['Department']== 'POLICE']
mean_al = np.mean(salary_only['Annual Salary'])

mean_police = np.mean(salary_only_police['Annual Salary'])
stdev_police = np.std(salary_only_police['Annual Salary'])

print("Startingpoint\n\nH0: μ_police > μ_mean, \nα = 0.05, \nz-test, \nH1: μ_police < μ_mean.\n\nμ_mean =", int(mean_al) )

Startingpoint

H0: μ_police > μ_mean,
α = 0.05,
z-test,
H1: μ_police < μ_mean.

μ_mean = 86786

In [148]:
ztest ,pval = stests.ztest(salary_only_police['Annual Salary'], x2=None, value=mean_al)# Z-test itself 
print("z-test = ", ztest, "\npval= ", pval)

if (pval/2) < (0.05):
    print("\nReject null hypothesis")
else:
    print("\nAccept null hypothesis")

z-test =  -1.9045545488123075
pval=  0.05683799952369196

Reject null hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [188]:
# Your code here:
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_crosyab_table = pd.crosstab(hourly.Department, hourly['Salary or Hourly'])
Department_most = hourly_crosyab_table.sort_values(by='Hourly', ascending=False).head(5)
Department_most

Salary or Hourly  Hourly
Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082
GENERAL SERVICES     765

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [254]:
# Your code here:

df_STREETS_SAN = hourly[hourly['Department'] == 'STREETS & SAN']
mean_STREETS_SAN = np.mean(df_STREETS_SAN["Hourly Rate"])
mean_all_departments = np.mean(hourly["Hourly Rate"])

print("Startingpoint\n\nH0: μ_STREETS & SAN = 35, \nα = 0.05, \nt-test, \nH1: μ_STREETS & SAN < 35.\n\nμ_mean =", 
      mean_STREETS_SAN)

Startingpoint

H0: μ_STREETS & SAN = 35,
α = 0.05,
t-test,
H1: μ_STREETS & SAN < 35.

μ_mean = 33.72837808807734

In [255]:
sample_size = 1500 
STREETS_SAN_sample = df_STREETS_SAN["Hourly Rate"].sample(sample_size)
# in this case we could take the whole population as an sample (that is the most accurate)
h0_value = 35

ttest ,pval = ttest_1samp(STREETS_SAN_sample, h0_value) 
print("t-test = ", ttest, "\npval= ", pval)

if (pval/2) < (0.05):
    print("\nReject null hypothesis")
else:
    print("\nAccept null hypothesis")

# because the p value is negative, and it is proven that Ho ist not true: μ_STREETS & SAN =! 35
# we know that μ_STREETS & SAN < 35 (negative t-test means smaller than H0 )

t-test =  -8.567610343947067
pval=  2.5833356532292354e-17

Reject null hypothesis

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [260]:
# Your code here:
'''So for a 95% confidence interval, 
we are 95% sure that the mean of the population 
is within the confidence interva'''

mean_all_departments = np.mean(hourly["Hourly Rate"])

from scipy import stats
from scipy.stats import t
data = hourly["Hourly Rate"]

alpha = 0.95 # confidence
df = len(data) # length data set 
loc = np.mean(data) # mean 
sigma = np.std(data) # standard deviation of sample set 
scale = sigma/np.sqrt(df) 

lower_95, Upper95 = stats.t.interval(alpha, df, loc, scale) # Endpoints of the range that contains alpha percent of the distribution
print("mean_all_departments: ", 
      mean_all_departments,
    "\nlower_95",lower_95, 
     '\nUpper95', Upper95)

mean_all_departments:  32.78855771628024
lower_95 32.52347487365805
Upper95 33.05364055890242

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [266]:
# Your code here:

mean_police = np.mean(salary_only_police['Annual Salary'])
data = salary_only_police['Annual Salary']

alpha = 0.95 # confidence
df = len(data) # length data set 
loc = np.mean(data) # mean 
sigma = np.std(data) # standard deviation of sample set 
scale = sigma/np.sqrt(df) 

lower_95, Upper95 = stats.t.interval(alpha, df, loc, scale) # Endpoints of the range that contains alpha percent of the distribution
print("mean_police: ", 
      int(mean_police),
    "\nLower_95: ",int(lower_95), 
     '\nUpper95: ', int(Upper95))

mean_police:  86486
Lower_95:  86177
Upper95:  86795

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [289]:
print(salaries['Salary or Hourly'].value_counts())
print("\n\nStartingpoint\n\nH0: hourly workers = 25% of total, \nα = 0.05, \nproportions_ztest")

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64


Startingpoint

H0: hourly workers = 25% of total,
α = 0.05,
proportions_ztest

In [291]:
# Your code here:
# source: https://stackoverflow.com/questions/53148935/one-sample-test-for-proportion
# source 2: https://www.statsmodels.org/stable/generated/statsmodels.stats.proportion.proportions_ztest.html

from statsmodels.stats.proportion import proportions_ztest

count = 8022
# hourly.count
# the number of successes in nobs trials
nobs = (8022 + 25161) 
# len(Salary_Hourly column)
# the number of trials or observations, with the same length as count.
value = .25 
# P(succes) = 25% 
# This is the value of the null hypothesis equal to the proportion in the case of a one sample test.
stat, pval = proportions_ztest(count, nobs, value)
print("pval: ",'{0:0.6f}'.format(pval))

if pval < (0.05):
    print("\nReject null hypothesis")
else:
    print("\nAccept null hypothesis")

pval:  0.000448

Reject null hypothesis

In [290]:
# this shows that Ho is not true, pval is posiive, so the 25% proportion will be higher 
real_proportion = 8022/(8022 + 25161)
real_proportion

0.24175029382515142